<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Shop items</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/kurs angulara.png" class="card-img-top" alt="kurs angulara">
        <div class="card-body">
          <h5 class="card-title">Kurs Angulara</h5>
          <p class="card-text">Podstawowe zagadnienia związane z frameworkiem Angular oraz przykładowe aplikacje.</p>
          <button class="btn btn-primary" (click)="onBuyAngularClick()">Kup</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/kurs vue.png" class="card-img-top" alt="kurs vue">
        <div class="card-body">
          <h5 class="card-title">Kurs Vue</h5>
          <p class="card-text">Podstawowe zagadnienia związane z frameworkiem Vue oraz przykładowe aplikacje.</p>
          <button class="btn btn-primary" (click)="onBuyVueClick()">Kup</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/assets/img/kurs react.png" class="card-img-top" alt="kurs react">
        <div class="card-body">
          <h5 class="card-title">Kurs Reacta</h5>
          <p class="card-text">Podstawowe zagadnienia związane z frameworkiem React oraz przykładowe aplikacje.</p>
          <button class="btn btn-primary" (click)="onBuyReactClick()">Kup</button>
        </div>
      </div>
    </div>
  </div>
</div>
